@mixin btn(){
    text-align: center;
    padding: getPadding(1.5) getPadding(3);
    border-radius: $border-1+px;
    border: 2px $color-princip solid;
    min-width: 110px;
}

.c-boton{
    @include btn;
    background-color: $color-princip;
    color: white;
    &--secundario{
        background-color: white;
        color: $color-princip;
    }
}