.c-header{
    @include flexRow;
    background-color: $color-princip;
    min-height: 75px;
    width: 100%;

    position: relative;
    top: 0px;

    &__menu{
        text-align: center;
        width: 15%;
        display: flex;
        justify-content: space-around;
        color: $color-sec;

        & a:visited{
            color: inherit;
        }
    }

    &__logo{
        max-width: 95px;
        margin-left: 2%;
    }

    &__indentificacion{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 25%; 
        margin-right: 1%;

        &__logo-usuario{
            display: flex;
            align-items: center;
            background-color: $color-sec;
            border-radius: $border-1+px;
            padding: 3px 5px;

            & img{
                border-radius: 50%;
                border: 2px solid $color-terc;
                max-width: 35px;
            }
            & span{
                font-size: 20px;
                color: $color-terc;
            }
        }
    }
}