.c-panel{
    background-color: $color-princip;
    border-radius: getBorder(2);
    color: $color-sec;

    margin: 3% 2%;

    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    & h2{
        color: $color-sec;
        font-weight: bold;
        font-size: 125%;
    }

    &__texto{
        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10% 5%;
        justify-content: space-evenly;
        text-align: center;

        & h2{
            margin-bottom: 3%;
        }

        &__fechas{
            margin-top: 4%;
            font-size: 75%;
        }

        & .c-boton{
            margin-top: 2%;
        }
    }

    & img{
        height: 250px;
        width: 250px;
        border-radius: getBorder(2);
        object-fit: cover;
        margin-right: 4%;
    }

    &--error{
        background-color: rgb(255, 176, 176);
        position: absolute;
        top: 100px;
        max-width: 15%;
        z-index: 150;
        color: rgb(239, 239, 239);
        padding: 2.5%;
        max-height: 5%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        & img {
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 200;
            width: 30px;
        }

        & h2 {
            color: rgb(239, 239, 239);
            font-size: large;
        }
    }

    &--pequeno{
        max-width: 450px;
        max-height: 200px;
        margin: 2% 0 1% 0 ;
        & img{
            max-width: 150px;
            max-height: 150px;
        }
    }
}